# Directorio de módulos de Node
node_modules/

# Archivos de la base de datos local
*.db
*.sqlite
*.sqlite3

# Archivos de registro
npm-debug.log*

# Archivos de configuración y de entorno
.env
.DS_Store

# Archivos de Visual Studio Code
.vscode/